<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>736580028075-dfh5qbfip4th387gu6u9h7s2thnrrpnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736580028075-dfh5qbfip4th387gu6u9h7s2thnrrpnf</string>
	<key>API_KEY</key>
	<string>AIzaSyBkrvrnVm1NuymtucL8iYtuuXsZ77T6-1I</string>
	<key>GCM_SENDER_ID</key>
	<string>736580028075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madwor1d3.MyChat</string>
	<key>PROJECT_ID</key>
	<string>madworld-mychat</string>
	<key>STORAGE_BUCKET</key>
	<string>madworld-mychat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736580028075:ios:f59b9eebd3d1305b</string>
	<key>DATABASE_URL</key>
	<string>https://madworld-mychat.firebaseio.com</string>
</dict>
</plist>